<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <title>サプーアプリ</title>
    </head>
    <body>
        <h1>サプー書店</h1>
        <h2>今月の新刊一覧</h2>
            <table border="1">
                <th>タイトル</th>
                <th>金額</th>
                <th>入荷日</th>
                {% for book in book %}
                    <tr>
                        <td>{{ book.title }}</td>
                        <td>{{ book.price }}円</td>
                        <td>{{ book.arrival_day }}</td>
                    </tr>
                {% endfor %}
            </table>
    </body>

</html>